@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/robotoslab/v11/BngbUXZYTXPIvIBgJJSb6s3BzlRRfKOFbvjojISma2Rm.ttf) format('truetype');
}
@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Merriweather Regular'), local('Merriweather-Regular'), url(https://fonts.gstatic.com/s/merriweather/v21/u-440qyriQwlOrhSvowK_l5-eCZJ.ttf) format('truetype');
}
@font-face {
  font-family: 'EB Garamond';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ebgaramond/v13/SlGDmQSNjdsmc35JDF1K5E55YMjF_7DPuGi-6_RkAI96.ttf) format('truetype');
}
body {
  margin: 0;
  font-family: Merriweather;
  font-style: normal;
  font-weight: normal;
  color: #2D2A32;
  background: linear-gradient(90deg, rgba(34, 116, 165, 0.08) 0%, rgba(255, 255, 255, 0) 12%), linear-gradient(270deg, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0) 12%), #EBF1F7;
}
@media (max-width: 576px) {
  body {
    margin: 0 3vw;
  }
}
p {
  font-size: 20px;
  line-height: 150%;
  margin: 0;
}
h1 {
  font-weight: bold;
  font-size: 34px;
  margin: 0;
}
h2 {
  font-weight: bold;
  font-size: 28px;
  margin: 0;
}
a {
  text-decoration: none;
  color: #2D2A32;
}
.button {
  padding: 10px;
  border: 2px solid #2274a5;
  border-radius: 26px;
  box-shadow: 6px 6px 16px rgba(34, 116, 165, 0.25), -6px -6px 16px #FFFFFF, inset 3px 3px 8px rgba(34, 116, 165, 0.07), inset -3px -3px 8px rgba(255, 255, 255, 0.5);
  background: #F3F7FA;
}
.button-pressed {
  padding: 10px;
  border: 2px solid #2274a5;
  border-radius: 26px;
  box-shadow: inset 6px 6px 16px rgba(34, 116, 165, 0.25), inset -6px -6px 16px #FFFFFF, 3px 3px 8px rgba(34, 116, 165, 0.07), -3px -3px 8px rgba(255, 255, 255, 0.5);
  background: #F3F7FA;
}
.green {
  border: 2px solid #5FAD56;
}
.yellow {
  border: 2px solid #FFCA3A;
}
.orange {
  border: 2px solid #FA8334;
}
.white {
  border: 2px solid rgba(255, 255, 255, 0.3);
}
.green-4px {
  border: 4px solid #5FAD56;
}
.yellow-4px {
  border: 4px solid #FFCA3A;
}
.orange-4px {
  border: 4px solid #FA8334;
}
.white-4px {
  border: 4px solid rgba(255, 255, 255, 0.3);
}
.container {
  min-height: 100vh;
}
@media (min-width: 576px) {
  .container h1 {
    font-size: 36px;
  }
}
.header {
  margin: 25px 0 50px;
}
.header .logo {
  display: flex;
  align-self: center;
  justify-content: flex-start;
  width: 14%;
}
.header .name {
  align-self: center;
  text-align: center;
  justify-content: center;
  flex-grow: 0;
  padding: 0 10px;
  width: 72%;
}
.header .menu-open {
  display: flex;
  align-self: center;
  align-content: center;
  justify-content: flex-end;
  width: 14%;
}
.header .menu-open img {
  width: 20px;
  height: 20px;
}
.header .menu-close {
  display: none;
  align-self: center;
  align-content: center;
  justify-content: flex-end;
  width: 14%;
}
.header .buttons {
  align-self: center;
  justify-content: flex-end;
  text-align: center;
  display: none;
  width: 100%;
  flex-direction: column;
  margin: 10px;
  padding: 10px;
  border: 2px solid #2274a5;
  border-radius: 26px;
  box-shadow: inset 6px 6px 16px rgba(34, 116, 165, 0.25), inset -6px -6px 16px #FFFFFF, 3px 3px 8px rgba(34, 116, 165, 0.07), -3px -3px 8px rgba(255, 255, 255, 0.5);
  background: #F3F7FA;
}
.header .buttons h2:hover {
  border-bottom: 2px solid #2274a5;
  padding: 0 0 4px;
  margin: 0 0 -6px;
}
.header li {
  margin: 10px;
}
.header h1 {
  font-size: 24px;
}
.header h2 {
  font-size: 22px;
}
.header .here {
  border-bottom: 2px solid #2274a5;
  padding: 0 0 4px;
  margin: 0 0 -6px;
}
@media (min-width: 576px) {
  .header {
    margin: 30px 0 60px;
  }
  .header .logo {
    width: auto;
  }
  .header .logo img {
    width: 50px;
    height: 50px;
  }
  .header .name {
    align-self: center;
    text-align: center;
    justify-content: center;
    flex-grow: 1;
    width: auto;
    margin: 0 15px;
  }
  .header .menu-open,
  .header .menu-close {
    width: auto;
  }
  .header .menu-open img,
  .header .menu-close img {
    width: 30px;
    height: 30px;
  }
  .header .buttons {
    margin: 15px;
    padding: 15px;
  }
  .header li {
    margin: 15px;
  }
  .header h1 {
    font-size: 34px;
    width: 100%;
  }
  .header h2 {
    font-size: 22px;
  }
}
@media (min-width: 768px) {
  .header {
    margin: 35px 0 70px;
  }
  .header .buttons {
    margin: 20px;
    padding: 20px;
  }
  .header li {
    margin: 20px;
  }
  .header img {
    width: 60px;
    height: 60px;
  }
  .header h1 {
    font-size: 34px;
  }
  .header h2 {
    font-size: 22px;
  }
}
@media (min-width: 992px) {
  .header {
    margin: 40px 0 80px;
  }
  .header .logo {
    align-self: center;
  }
  .header .name {
    align-self: center;
    text-align: left;
    flex-grow: 1;
    margin: 0 0 0 12.5px;
  }
  .header .menu-open,
  .header .menu-close {
    display: none;
  }
  .header .buttons {
    align-self: center;
    justify-content: flex-end;
    display: flex;
    flex-direction: row;
    margin: 0 -12.5px;
    padding: 0;
    width: auto;
    border: none;
    box-shadow: none;
    background: none;
  }
  .header li {
    margin: 0 12.5px;
  }
  .header img {
    width: 70px;
    height: 70px;
  }
  .header h1 {
    font-size: 30px;
  }
  .header h2 {
    font-size: 20px;
  }
}
@media (min-width: 1200px) {
  .header {
    margin: 50px 0 100px;
  }
  .header .name {
    margin: 0 0 0 15px;
  }
  .header .buttons {
    margin: 0 -15px;
  }
  .header li {
    margin: 0 15px;
  }
  .header img {
    width: 80px;
    height: 80px;
  }
  .header h1 {
    font-size: 32px;
  }
  .header h2 {
    font-size: 22px;
  }
}
.header img {
  margin: 0 0 -4px;
}
.header ul {
  list-style: none;
}
.box-info-1 {
  margin: 25px 0 50px;
  background: #F3F7FA;
  border-radius: 26px;
  box-shadow: 6px 6px 16px rgba(34, 116, 165, 0.25), -6px -6px 16px #FFFFFF;
}
.box-info-1 .left {
  border-left: 4px solid #2274a5;
  border-radius: 26px;
  margin: 0 0 10px;
}
.box-info-1 .col-md-6 {
  padding: 0;
}
.box-info-1 .row {
  margin: 0;
  padding: 0 10px;
  height: 150px;
}
.box-info-1 img {
  object-fit: cover;
  border-radius: 26px;
  margin: 0 0 -4px;
  width: 100%;
  height: 300px;
}
@media (min-width: 576px) {
  .box-info-1 {
    margin: 30px 0 60px;
  }
  .box-info-1 .left {
    margin: 0 0 15px;
  }
  .box-info-1 .row {
    padding: 0 15px;
    height: 150px;
  }
}
@media (min-width: 768px) {
  .box-info-1 {
    margin: 35px 0 70px;
  }
  .box-info-1 .left {
    margin: 0;
  }
  .box-info-1 .row {
    padding: 0 20px;
    height: 50%;
  }
  .box-info-1 img {
    height: 270px;
  }
}
@media (min-width: 992px) {
  .box-info-1 {
    margin: 40px 0 80px;
  }
  .box-info-1 .left {
    margin: 0;
  }
  .box-info-1 .row {
    padding: 0 25px;
  }
  .box-info-1 img {
    height: 320px;
  }
}
@media (min-width: 1200px) {
  .box-info-1 {
    margin: 50px 0 100px;
  }
  .box-info-1 .left {
    margin: 0;
  }
  .box-info-1 .row {
    padding: 0 30px;
  }
  .box-info-1 img {
    height: 380px;
  }
}
.box-info-1 h1 {
  align-self: center;
}
.box-info-2 {
  background: #F3F7FA;
  justify-content: center;
  margin: 25px 0 50px;
  border: 4px solid #2274a5;
  border-radius: 26px;
  box-shadow: 6px 6px 16px rgba(34, 116, 165, 0.25), -6px -6px 16px #FFFFFF;
}
.box-info-2 .row {
  margin: 0;
  padding: 0 10px 10px;
  min-height: 180px;
}
@media (min-width: 576px) {
  .box-info-2 {
    margin: 30px 0 60px;
  }
  .box-info-2 .row {
    padding: 0 15px 15px;
  }
}
@media (min-width: 768px) {
  .box-info-2 {
    margin: 35px 0 70px;
  }
  .box-info-2 .row {
    padding: 0 20px 20px;
    min-height: 160px;
  }
}
@media (min-width: 992px) {
  .box-info-2 {
    margin: 40px 0 80px;
  }
  .box-info-2 .row {
    padding: 0 25px;
  }
}
@media (min-width: 1200px) {
  .box-info-2 {
    margin: 50px 0 100px;
  }
  .box-info-2 .row {
    padding: 0 30px;
    min-height: 190px;
  }
}
.box-info-2 h1 {
  align-self: center;
  text-align: center;
}
.box-services {
  justify-content: center;
  margin: 25px 0 50px;
}
.box-services .row {
  margin: 0;
}
.box-services .title {
  align-content: center;
  min-height: 180px;
  padding: 0 10px;
}
.box-services .title h1 {
  align-self: center;
  text-align: center;
}
.box-services .buttons {
  width: 100%;
  justify-content: center;
  margin: 0 12.5px;
}
.box-services .button-plate {
  flex-grow: 1;
  justify-content: center;
  border-radius: 26px;
  box-shadow: 6px 6px 16px rgba(34, 116, 165, 0.25), -6px -6px 16px #FFFFFF, inset 3px 3px 8px rgba(34, 116, 165, 0.07), inset -3px -3px 8px rgba(255, 255, 255, 0.5);
  background: #F3F7FA;
  padding: 10px;
  margin: 0 0 25px;
  min-height: 160px;
}
.box-services .button-plate h2 {
  color: #2274a5;
  align-self: center;
}
.box-services .button-plate p {
  font-size: 18px;
  align-self: flex-start;
}
.box-services .button-plate .row {
  text-align: center;
  justify-content: center;
  min-height: 80px;
  min-width: 260px;
}
.box-services .button-plate:hover {
  box-shadow: inset 6px 6px 16px rgba(34, 116, 165, 0.25), inset -6px -6px 16px #FFFFFF, 3px 3px 8px rgba(34, 116, 165, 0.07), -3px -3px 8px rgba(255, 255, 255, 0.5);
}
@media (min-width: 576px) {
  .box-services {
    margin: 30px 0 60px;
  }
  .box-services .title {
    padding: 0 15px;
  }
  .box-services .buttons {
    justify-content: center;
    margin: 0;
  }
  .box-services .button-plate {
    padding: 15px;
    margin: 0 0 30px;
    min-height: 120px;
  }
  .box-services .button-plate .row {
    min-height: 60px;
  }
}
@media (min-width: 768px) {
  .box-services {
    margin: 35px 0 70px;
  }
  .box-services .title {
    padding: 0 20px;
  }
  .box-services .buttons {
    justify-content: space-between;
  }
  .box-services .button-plate {
    flex-grow: 0;
    min-height: 180px;
    padding: 20px;
    margin: 0 0 35px;
  }
  .box-services .button-plate .row {
    width: 290px;
    min-height: 90px;
  }
  .box-services .button-plate h2 {
    width: 80%;
  }
}
@media (min-width: 992px) {
  .box-services {
    margin: 40px 0 80px;
  }
  .box-services .title {
    padding: 0 25px;
  }
  .box-services .buttons {
    justify-content: space-evenly;
  }
  .box-services .button-plate {
    padding: 25px;
    margin: 0 0 40px;
  }
}
@media (min-width: 1200px) {
  .box-services {
    margin: 50px 0 100px;
  }
  .box-services .title {
    padding: 0 30px;
  }
  .box-services .buttons {
    justify-content: space-between;
  }
  .box-services .button-plate {
    padding: 30px;
    margin: 0 0 50px;
  }
}
.payment {
  flex-direction: column;
}
.payment .title {
  display: flex;
  align-content: center;
  justify-content: center;
  min-height: 180px;
  padding: 0 10px;
}
.payment .title h1 {
  align-self: center;
  text-align: center;
}
.payment .box {
  background: #F3F7FA;
  margin: 25px 0 25px;
  padding: 10px;
  border: 4px solid unset;
  border-radius: 26px;
  box-shadow: 6px 6px 16px rgba(34, 116, 165, 0.25), -6px -6px 16px #FFFFFF;
}
.payment .box .info {
  min-height: 200px;
}
.payment .box .pay {
  min-height: 180px;
  padding: 10px 0 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.payment .box .pay .row {
  justify-content: space-between;
}
.payment .box .pay .right {
  justify-content: flex-end;
}
.payment .box .pay .button {
  align-self: flex-end;
}
.payment .box h2 {
  font-size: 24px;
}
.payment .buttons {
  margin: 0 0 50px;
}
.payment .buttons .col {
  margin: 0 25px 0 0;
}
.payment .button {
  padding: 5px 10px;
  margin: 25px 0 0;
  width: fit-content;
}
.payment .button p {
  font-size: 20px;
  font-weight: bold;
  align-self: center;
  text-align: center;
}
.payment .button:hover {
  box-shadow: inset 6px 6px 16px rgba(34, 116, 165, 0.25), inset -6px -6px 16px #FFFFFF, 3px 3px 8px rgba(34, 116, 165, 0.07), -3px -3px 8px rgba(255, 255, 255, 0.5);
}
@media (min-width: 576px) {
  .payment .title {
    padding: 0 15px;
  }
  .payment .box {
    margin: 30px 0 30px;
    padding: 15px;
  }
  .payment .box .info {
    min-height: 160px;
  }
  .payment .box .pay {
    min-height: 160px;
    padding: 15px 0 0;
  }
  .payment .buttons {
    margin: 0 0 60px;
  }
  .payment .buttons .col {
    margin: 0 30px 0 0;
  }
  .payment .button {
    padding: 5px 15px;
    margin: 30px 0 0;
  }
}
@media (min-width: 768px) {
  .payment .title {
    padding: 0 20px;
  }
  .payment .box {
    margin: 35px 0 35px;
    padding: 20px;
  }
  .payment .box .pay {
    padding: 25px 0 0;
  }
  .payment .box h2 {
    font-size: 28px;
  }
  .payment .buttons {
    margin: 0 0 70px;
  }
  .payment .buttons .col {
    margin: 0 35px 0 0;
  }
  .payment .button {
    padding: 5px 20px;
    margin: 35px 0 0;
  }
}
@media (min-width: 992px) {
  .payment .title {
    padding: 0 25px;
  }
  .payment .box {
    margin: 40px 0 40px;
    padding: 25px;
  }
  .payment .box .pay {
    padding: 25px 0 0;
  }
  .payment .buttons {
    margin: 0 0 80px;
  }
  .payment .buttons .col {
    margin: 0 40px 0 0;
  }
  .payment .button {
    padding: 5px 25px;
    margin: 20px 0 0;
  }
}
@media (min-width: 1200px) {
  .payment .title {
    min-height: 180px;
    padding: 0 30px;
  }
  .payment .box {
    margin: 50px 0 50px;
    padding: 30px;
  }
  .payment .box .info {
    min-height: 180px;
  }
  .payment .box .pay {
    min-height: 180px;
    padding: 30px 0 0;
  }
  .payment .buttons {
    margin: 0 0 100px;
  }
  .payment .buttons .col {
    margin: 0 50px 0 0;
  }
  .payment .button {
    padding: 5px 30px;
    margin: 25px 0 0;
  }
  .payment .button p {
    font-size: 22px;
  }
}
.personal {
  min-height: 80vh;
  flex-direction: column;
}
.personal .title {
  display: flex;
  align-content: center;
  justify-content: center;
  min-height: 180px;
  padding: 0 10px;
}
.personal .title h1 {
  align-self: center;
  text-align: center;
}
.personal .box {
  background: #F3F7FA;
  margin: 25px 0 50px;
  padding: 10px;
  border: 4px solid #2274a5;
  border-radius: 26px;
  box-shadow: 6px 6px 16px rgba(34, 116, 165, 0.25), -6px -6px 16px #FFFFFF;
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  align-items: center;
}
.personal label {
  width: fit-content;
}
.personal input,
.personal label,
.personal p {
  font-size: 20px;
  font-family: Merriweather;
  font-style: normal;
  font-weight: normal;
  color: #2D2A32;
}
.personal #login,
.personal #password {
  width: 70%;
}
.personal .buttons {
  margin: 0 0 50px;
  display: flex;
  justify-content: flex-end;
}
.personal .buttons .col {
  margin: 0 25px 0 0;
}
.personal .button {
  padding: 5px 10px;
  margin: 25px 0 0;
  width: fit-content;
}
.personal .button:hover {
  box-shadow: inset 6px 6px 16px rgba(34, 116, 165, 0.25), inset -6px -6px 16px #FFFFFF, 3px 3px 8px rgba(34, 116, 165, 0.07), -3px -3px 8px rgba(255, 255, 255, 0.5);
}
@media (min-width: 576px) {
  .personal .title {
    padding: 0 15px;
  }
  .personal .box {
    margin: 30px 0 60px;
    padding: 15px;
  }
  .personal .buttons {
    margin: 0 0 60px;
  }
  .personal .button {
    padding: 5px 15px;
    margin: 30px 0 0;
  }
}
@media (min-width: 768px) {
  .personal .title {
    padding: 0 20px;
  }
  .personal .box {
    margin: 35px 0 70px;
    padding: 20px;
  }
  .personal .buttons {
    margin: 0 0 70px;
  }
  .personal .button {
    padding: 5px 20px;
    margin: 35px 0 0;
  }
}
@media (min-width: 992px) {
  .personal .title {
    padding: 0 25px;
  }
  .personal .box {
    margin: 40px 0 80px;
    padding: 25px;
  }
  .personal .buttons {
    margin: 0 0 80px;
  }
  .personal .button {
    padding: 5px 25px;
    margin: 20px 0 0;
  }
}
@media (min-width: 1200px) {
  .personal .title {
    min-height: 180px;
    padding: 0 30px;
  }
  .personal .box {
    min-height: 220px;
    margin: 50px 0 100px;
    padding: 30px;
  }
  .personal input,
  .personal label,
  .personal p {
    font-size: 22px;
  }
  .personal #login,
  .personal #password {
    width: 50%;
  }
  .personal .buttons {
    margin: 0 0 100px;
  }
  .personal .button {
    padding: 5px 30px;
    margin: 25px 0 0;
  }
}
.footer {
  padding: 20px 0 10px;
  border-top: 4px solid #2274a5;
  align-items: baseline;
}
.footer h1 {
  font-size: 24px;
  margin: 0 0 10px;
}
.footer h2 {
  font-size: 18px;
  margin: 10px 0;
}
.footer p {
  font-size: 16px;
}
.footer .creator {
  margin: 50px 0 0;
}
.footer .left {
  margin: 0 0 30px;
}
.footer .creator {
  justify-content: center;
  margin: 50px 0 0;
}
.footer .title {
  justify-content: center;
}
.footer .item {
  display: none;
}
.footer .right .row {
  justify-content: space-between;
}
@media (min-width: 576px) {
  .footer {
    padding: 30px 0 15px;
  }
  .footer h1 {
    font-size: 26px;
    margin: 0 0 15px;
  }
  .footer h2 {
    font-size: 20px;
    margin: 15px 0;
  }
  .footer p {
    font-size: 18px;
  }
  .footer .creator {
    margin: 60px 0 0;
  }
  .footer .left {
    margin: 0 0 30px;
  }
}
@media (min-width: 768px) {
  .footer {
    padding: 40px 0 20px;
  }
  .footer h1 {
    font-size: 26px;
    margin: 0 0 20px;
  }
  .footer h2 {
    font-size: 20px;
    margin: 20px 0;
  }
  .footer p {
    font-size: 18px;
  }
  .footer .creator {
    margin: 70px 0 0;
  }
  .footer .left {
    margin: 0 0 35px;
  }
}
@media (min-width: 992px) {
  .footer {
    padding: 50px 0 25px;
  }
  .footer .title {
    justify-content: flex-start;
  }
  .footer .item {
    display: block;
  }
  .footer h1 {
    font-size: 26px;
    margin: 0 0 25px;
  }
  .footer h2 {
    font-size: 20px;
    margin: 0 0 25px;
  }
  .footer p {
    font-size: 18px;
  }
  .footer .creator {
    margin: 80px 0 0;
  }
  .footer .right .row {
    justify-content: flex-start;
  }
}
@media (min-width: 1200px) {
  .footer {
    padding: 60px 0 30px;
  }
  .footer h1 {
    font-size: 28px;
    margin: 0 0 30px;
  }
  .footer h2 {
    font-size: 20px;
    margin: 0 0 30px;
  }
  .footer p {
    font-size: 18px;
  }
  .footer .creator {
    margin: 100px 0 0;
  }
  .footer a:hover {
    opacity: 0.7;
  }
}
/*# sourceMappingURL=styles.css.map */